
.verticalCenterModal {
    text-align: center;
    white-space: nowrap;
}

.verticalCenterModal:before {
    content: '';
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
    width: 0;
}

.verticalCenterModal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}
