.mainContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.tableContainer{
    width: 100%;
}

.even-row {
    background-color: #F9F9FB; /* Change background color for even index rows */
}